<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pose</title>

</head>
<body>
<div id="wrapper">
  <div id="headNav">
    <div id="pageTitle">
      シルエット撮影アプリ
    </div>
  </div>

  <div id="inidigatorWrapper">
    <div id="indigator"><span id="count"></span>秒後に撮影</div>
    <div id="instruction">ボタンを押して3秒後に撮影します。</div>


  </div>

  <div id="videoWrapper">
    <video id="video" autoplay></video>
  </div>

  <div id="controller">


    <button id="snap">撮影</button>



  </div>


  <div id="results">
  </div>
  <div id="downloadImageWrapper">
    <a id="downloadImage" href="" download="pic.png">ダウンロード</a>
  </div>
  <div id="debug">



  </div>


  <%= form_tag('/main/silhouette', :id => "imageForm") do %>
      <%= hidden_field :imageData, 1 %>
  <% end %>


</div>
</body>
</html>